<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <body>
        <div class="container">
            <div class="header">
                <h1>Password reset</h1>
            </div>
            <div class="content">
                <h3>Hello {{ username }},</h3>
                <p>You can reset your password by clicking the link below :</p>
                <a href="{{ url }}" class="button">Reset my password</a>
                <p>If you haven't asked for this operation, please ignore this message.</p>
                <p>All is fine, probably...</p>
            </div>
            <div class="footer">
                <p>&copy; 2026 Camagru. Soon on github.</p>
            </div>
        </div>
    </body>
</html>