
 html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 98%;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav a {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

/* Content */
.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

.content input[type=submit] {
  min-width: 10em;
  margin-top: 1em;

}

/* Canvas */
.canvas-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.canvas-container canvas {
  height: 100%;
  width: 100%;
}

.canvas-container button {
  max-width: 15rem;
}

/* Posts */
.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Comments */
.comment-post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comment-post-container img {
  max-width: 100%;
}

[class^="comment-container-"] {
  border: 2px solid #377ba8;
  margin: 0.5rem;
}

.comment-input-container form input{
  min-width: 60%;
}

/* Sidebar */
.full-editor-container {
  display: flex;
  align-items: top;
}

.basic-editor-container {
  margin: 2rem auto 0;
}

.sidebar-post-container {
  width: 30%;
}

.sidebar-grid-container {
  display: grid;
  margin: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}
@media (max-width: 950px) {
  .full-editor-container {
    flex-direction: column;
  }

.sidebar-post-container {
  width: 100%;
}

.sidebar-grid-container {
  display: grid;
  margin: 0.2rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}


}

[class^="sidebar-post-container-"] {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 1rem;
  height: 1rem;
}

/* Misc */
.posts-container img {
  max-width: 100%;
}

[class^="post-container"] {
  display: inline-block;
  margin-bottom: 1rem;
}

.icon {
  width: 0.85rem;
  height: 0.85rem;
}


.sticker {
  border: 2px solid #377ba8;
}
