{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Posts{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="posts-container">
    {% for post in show_posts(page) %}
    <div class="post-container-{{ post.id }}">
        <img id="post_{{ post.id }}" src="{{ post.path }}">
        <div class="post-infos-container">
            <small>Posted by {{ post.user }} at {{ post.created_at }}</small>
            {% if g.user %}
                {% if post.is_liked %}
                    <a href="{{ url_for('browse.unlike', post_unliked=post.id)}}" title="Unlike this post">
                        <img src="/static/icons/unlike.svg" class="icon" alt="Unlike this post">
                    </a>
                {% else %}
                    <a href="{{ url_for('browse.like', post_liked=post.id)}}" title="Like this post">
                        <img src="/static/icons/like.svg" class="icon" alt="Like this post">
                    </a>
                {% endif %}
            {% endif %}
            <small>{{ post.like_count }} likes </small>
            {% if g.user %}
                <a href="{{ url_for('browse.comment', post_commented=post.id)}}" title="Comment this post">
                    <img src="/static/icons/comment.svg" class="icon" alt="Comment this post">
                </a>
            {% endif %}
            <small>{{ post.comment_count }} comments</small>
        </div>
   </div>
    {% endfor %}
    <div class="pagination-container">
        <p>
            {% if page > 1 %}
                <a href="{{ url_for('browse.browse', page=page-1)}}">Previous</a>
            {% endif %}
            Page {{ page }}/{{ page_number }}
            {% if page < page_number %}
            <a href="{{ url_for('browse.browse', page=page+1)}}">Next</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}